# Modules
__pycache__

# Binaries
external/
dist
build

# Custom config files
src/config/cookies.txt

# User settings and configuration
yt-dlp-gui-config.json
**/yt-dlp-gui-config.json

# Misc
main.spec
desktop.ini
.vscode