# Modules
__pycache__

# Virtual environment
venv/

# Binaries
external/
dist
build
ffmpeg
temp

# User settings and configuration
yt-dlp-gui-config.json
**/yt-dlp-gui-config.json
cookies.txt

# Misc
main.spec
desktop.ini
.vscode
.req_hash_before