# Modules
__pycache__

# Virtual environment
venv/

# Binaries
external/
dist
build
ffmpeg
temp

# Custom config files
cookies.txt

# User settings and configuration
yt-dlp-gui-config.json
**/yt-dlp-gui-config.json

# Misc
main.spec
desktop.ini
.vscode